<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First Angular App</title>
</head>
<body>
  <section id="main">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quia facilis unde deleniti eveniet culpa error quod repellendus possimus nisi!
  </section>
  <section id="content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores quia facilis unde deleniti eveniet culpa error quod repellendus possimus nisi!
  </section>
</body>
</html>